.button-square {
  border: 2px solid;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: var(--white);
}

.slide-button {
  margin-right: 10px;
  cursor: pointer;
  //font-size: var(--fs-36);
  color: var(--color-red);
  background-color: var(--color-red);
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &:hover {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid;
  }
}

.slide-button.active {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid;
}

.back-button {
  position: fixed;
  top: 70px;
  left: 10px;
}
