body {
  width: 100vw;
  height: fit-content;
  background-color: var(--white);
  color: var(--black);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  //justify-content: center;
  flex-direction: column;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-yellow-dark);
}

/* Desktop */
@media screen and (min-width: 1200px) {
  body {
    //padding-right: 10px;
  }
}
