@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
.button-square {
  border: 2px solid;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 5vw;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header h1 {
  font-weight: 500;
  font-size: var(--fs-24);
  text-transform: uppercase;
  color: var(--color-red);
}

/* Mobile Menu Styles */
.mobile-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 100vw;
  width: 100%;
  height: 100vh;
  background-color: #333;
  overflow: hidden;
  transition: right 0.7s cubic-bezier(0.51, 0, 0, 0.99);
  z-index: 1;
}
.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-menu ul li {
  text-align: center;
  padding: 20px 0;
}
.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: var(--fs-24);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mobile-menu.active {
  right: 0;
}

#menu-toggle {
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--color-red);
  margin: 5px auto;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 2px;
}

/* Style the hamburger icon */
.menu-toggle span:nth-child(1) {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-child(2) {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-toggle span:nth-child(3) {
  transform-origin: 0% 100%;
}

/* Show the mobile menu when the checkbox is checked */
#menu-toggle:checked ~ .menu-toggle span:nth-child(1) {
  transform: rotate(40deg) translate(0, 0);
  color: var(--color-yellow);
}

#menu-toggle:checked ~ .menu-toggle span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-toggle span:nth-child(3) {
  transform: rotate(-40deg) translate(0, 0);
}

footer {
  display: flex;
  width: 100%;
  height: 20px;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: var(--fs-12);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-wrapper {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content-wrapper h2 {
  font-size: var(--fs-36);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: center;
  width: 80%;
}
.content-wrapper p {
  width: 80%;
  text-align: center;
  font-weight: 400;
}

.image-main {
  width: 80%;
  margin: 20px 0;
}

body {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--white);
  color: var(--black);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-yellow-dark);
}

/* Desktop */
@media screen and (min-width: 1200px) {
  body {
    padding-right: 10px;
  }
}
/* Reset all margins, padding, and borders */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Normalize font properties */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; /* Prevent text size adjustment in Safari */
  scroll-behavior: smooth;
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Normalize vertical alignment for inputs in different browsers */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
  vertical-align: middle;
}

/* Remove default button styles */
button {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* Reset image alignment */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Quicksand", sans-serif;
}

p {
  letter-spacing: 1px;
  font-family: "Source Code Pro", monospace;
}

/* Primary Colors */
:root {
  --dark-color: hsl(212, 100%, 72%);
  --primary-color: #a7d8ba;
  --secondary-color: #e96f51;
  --tertiary-color: #f8d586;
  --color-red: #e96f51;
  --color-orange: #f5a361;
  --color-yellow-light: #ffe3a2;
  --color-yellow: #f8d586;
  --color-yellow-dark: #dabe7d;
  --color-cream: #e7e3d6;
  --color-beige: #d7d2c3;
  --color-green: #cde4cb;
  --color-green-transparent: hsl(143, 39%, 75%, 0.7);
  --color-light-blue: #86c0d1;
  --color-medium-blue: #25aae1;
  --color-dark-blue: #4f69b2;
  --color-purple: #c999b2;
  --color-purple-light: #ceacbe;
  --black: hsl(240, 12%, 29%);
  --white: hsl(60, 40%, 98%);
  --white-light: hsl(60, 18%, 87%);
  --button-color: var(--secondary-color);
  --button-active: hsl(21, 72%, 65%);
  --success-color: #6bd684;
  --warning-color: #ffd863;
  --error-color: #dc3545;
  --body-bg: var(--black);
  --text-color: var(--white);
  --nav: var(--white);
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;
  --fs-96: 6rem;
  --fs-120: 7.5rem;
}

.cupcake-gif {
  width: 70%;
}

.hero {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero p {
  padding: 10vw;
  text-align: center;
}

#hero-tag {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-size: var(--fs-18);
  color: var(--white);
  position: absolute;
  top: 60px;
  text-align: left;
}

.hero-image {
  height: 100%;
  width: 100vw;
}

.hero-nav-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
  width: 100%;
  height: 100%;
}

.carousel-navigation {
  display: flex;
  position: absolute;
  bottom: 40px;
  width: 100%;
  justify-content: center;
}

.slide-button {
  margin-right: 10px;
  cursor: pointer;
  color: var(--color-red);
  background-color: var(--color-red);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slide-button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid;
}

.slide-button.active {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid;
}

.markets-wrapper {
  display: flex;
  justify-content: center;
}

.image-sourdough {
  width: 80%;
}