.hero {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    padding: 10vw;
    text-align: center;
    margin-top: 10px;
  }
}

#hero-tag {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-size: var(--fs-18);
  color: var(--white);
  position: absolute;
  top: 60px;
  text-align: left;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  // width: 100%;
  // height: auto;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
  width: 100%;
  height: 100%;
}

.carousel-navigation {
  display: flex;
  position: absolute;
  bottom: 30px;
  width: 100%;
  justify-content: center;
}

.hero-nav-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
